.env
artifacts
cache
data/address-list.json
data/merkle_data.json
data/uni-address-list.json
data/uni_merkle_data.json
drc_hodler.json
drc_lp.json
drc_user.json
node_modules
scripts/__pycache__
scripts/drc_hodler.json
scripts/drc_lp.json
scripts/drc_lp_holders.json
scripts/drc_user.json
scripts/drc_users.json
scripts/lp_on_contract_holders.json
scripts/uni-addresses.json
typechain
admin.key
network-constants.json
deploy-result.json
bin
drc-deployment-sequence.md
uni-deployment-sequence.md